#registration-success-container {
  position: absolute;
  top: 220px;
  z-index: 1;
  border: 2px solid;
  width: 30vw;
  height: 45vh;
  font-size: 20px;
  text-align: center;
  background-color: aliceblue;
}

#registration-success-wrapper {
  background-color: bisque;
}

#registration-success-container img {
  width: 150px;
  height: auto;
}

#registration-success-container h1 {
  padding: 0;
  margin-top: 20px;
}

#registration-success-container button {
  background-color: bisque;
  margin-top: 0;
  color: white;
  font-size: 25px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

#registration-success-container button:hover {
  border: 2px solid bisque;
  color: bisque;
  background-color: white;
  box-shadow: 0px 15px 20px #104f55;
  transform: translateY(-7px);
}
