#user-profile-modal {
  position: absolute;
  top: 180px;
  left: 400px;
  width: 50vw;
  height: 60vh;
  background-color: rgba(240, 248, 255, 0.6);
  backdrop-filter: blur(8px);
  z-index: 1;
  overflow: hidden;
  border-radius: 20px;
  border: 5px solid whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-profile-modal-close-icon {
  position: absolute;
  top: 5px;
  right: 20px;
}

#user-profile-modal-close-icon:hover {
  cursor: pointer;
  background-color: #224354;
  color: aliceblue;
  border-radius: 50%;
  text-align: center;
}

#profile-picture {
  width: 200px;
  height: auto;
  margin-left: 40px;
  margin-top: 40px;
}

#user-profile-wrapper {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  color: #224354;
}

#user-profile-data span {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  padding: 5px;
}

#profile-picture-wrapper {
  display: flex;
  flex-direction: column;
}

#edit-info-icon {
  margin: 20px;
  margin-left: 40px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 40px;
}

#edit-info-icon:hover {
  background-color: #224354;
  color: aliceblue;
}

#user-profile-data input {
  text-align: right;
  font-size: 25px;
  background-color: #224354;
  color: aliceblue;
  width: 200px;
}

#user-profile-wrapper button {
  width: 200px;
  margin-left: 40px;
  font-size: 20px;
  height: 40px;
  border: apx solid #224354;
  background-color: aliceblue;
  color: #224354;
  cursor: pointer;
}

#user-profile-wrapper button:hover {
  background-color: #224354;
  color: aliceblue;
  border: 1px solid aliceblue;
}

#profile-picture-wrapper input {
  font-size: 15px;
  background-color: #224354;
  color: aliceblue;
  width: 190px;
  margin-left: 40px;
  margin-top: 10px;
}
