#notifications-container {
  position: absolute;
  color: aliceblue;
  border-radius: 10px;
  text-align: center;
  right: 150px;
  top: 70px;
  width: 400px;
  max-height: 600px;
  overflow-y: auto;
  background-color: #224354;
  font-size: 20px;
}

#notification-wrapper:hover {
  background-color: aliceblue;
  color: #224354;
  cursor: pointer;
}

#clear-all-notifications {
  font-size: 15px;
  cursor: pointer;
}

#confirmation-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 700px;
  top: 200px;
  width: 400px;
  height: 400px;
  z-index: 1;
  background-color: aliceblue;
  color: #224354;
  margin: 10px;
  border: 5px solid #224354;
  text-align: center;
}

#confirmation-modal-img-wrapper {
  background-color: bisque;
  width: 100%;
}

#confirmation-modal img {
  margin-top: 0;
  width: 200px;
}

#yes-button {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 10px;
  color: #224354;
  background-color: aliceblue;
  cursor: pointer;
}

#cancel-button {
  background-color: #ff3b3b;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 10px;
  color: aliceblue;
  cursor: pointer;
}
