@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Josefin+Sans&display=swap');

#welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  color: aliceblue;
}

#welcome-container h1 {
  font-size: 50px;
}

#welcome-wrapper {
  position: relative;
  display: flex;
  width: 50vw;
  justify-content: center;
  margin-bottom: 20px;
  z-index: 1;
}

.welcome-button {
  border: 2px solid white;
  background-color: #224354;
  color: white;
  font-size: 1.5em;
  margin-left: 150px;
  margin-right: 150px;
  opacity: 1;
  transition: 0.3s;
  width: 80px;
  display: flex;
  justify-content: center;
}

.welcome-button:hover {
  border: 2px solid #224354;
  background: transparent;
  cursor: pointer;
  color: aliceblue;
  width: 250px;
  text-decoration: underline;
  text-decoration-color: #224354;
  margin-left: 65px;
  margin-right: 65px;
  opacity: 1;
  transition: 1s;
  box-shadow: 0 10px 16px 0 aliceblue;
}

.welcome-button:focus {
  outline: none;
}

#welcome-text {
  margin: 10px;
  font-size: 80px;
  letter-spacing: 15px;
  margin-top: 0;
  font-family: 'Covered By Your Grace', cursive;
  z-index: 1;
}

#welcome-logo {
  width: 800px;
  position: absolute;
  height: auto;
  z-index: 0;
  opacity: 0.3;
}
